body {
  overflow: hidden !important;
}

#top-control {
  width: 350px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#top-control:hover {
  opacity: 1;
}

#world-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 0;
}

#icon-top-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  float: right;
}

#icon-top-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: left;
}

#icon-top-2:hover {
  cursor: pointer;
}

.top-icon {
  display: block;
  height: 35px;
  padding: 20px;
}

#control-panel {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: white;
}

#left-controls {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: right;
  padding-top: 37px;
}

#center-controls {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding-top: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 30px 3fr;
      grid-template-columns: 3fr 30px 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#center-controls p {
  padding: 4px;
  margin: 0;
}

#right-controls {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding-top: 37px;
}

#status {
  text-align: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#icons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#values {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.icon {
  display: inline-block;
  height: 20px;
  padding: 3px 5px;
}

#window-block {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.window {
  position: fixed;
  top: 8vh;
  left: 12.5vw;
  height: 76vh;
  width: 75vw;
  background-color: white;
}

.window .top-bar {
  background-color: #434157;
  height: 50px;
}

.window .top-bar .return {
  position: absolute;
  height: 30px;
  left: 10px;
  top: 10px;
}

.window .top-bar .tab {
  padding: 0px 50px;
}

.window .top-bar h1 {
  margin: 0;
  padding: 0px 10px;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}

.window .top-bar h1 strong {
  font-size: 20px;
  text-transform: lowercase;
}

.window .top-bar .skip {
  position: absolute;
  height: 30px;
  right: 10px;
  top: 10px;
}

.window .skip:hover {
  cursor: pointer;
}

.window .return:hover {
  cursor: pointer;
}

.window .interior {
  height: 83%;
  overflow: scroll;
  margin: 20px;
}

.window .interior h2 {
  color: #464545;
  margin: 40px 0px 15px 8px;
  text-transform: uppercase;
}

#chat-interior {
  height: 76%;
  overflow: scroll;
  margin: 20px 20px 0px 20px;
}

#chat-interior .outer-msg {
  margin-top: 10px;
  display: block;
  width: 80%;
}

#chat-interior .outer-msg .msg-user img {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

#chat-interior .outer-msg .msg-user p {
  display: inline-block;
  margin: 0px;
  font-size: 20px;
}

#chat-interior .outer-msg .message {
  width: 45%;
  padding: 15px;
  border-radius: 20px;
  background-color: #c5c5c5;
  margin: 5px;
}

#chat-interior .outer-msg-self {
  margin-top: 20px;
  display: block;
  width: 100%;
}

#chat-interior .outer-msg-self .message {
  width: 36%;
  padding: 15px;
  border-radius: 20px;
  color: white;
  background-color: #6A4175;
  margin: 5px;
  margin-left: 60%;
}

#msg-form {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

#msg-form input {
  text-align: left !important;
  border: 1px solid #aaaaaa;
  border-radius: 100px;
  height: 35px;
  width: 82%;
  font-size: 20px;
  text-align: center;
  color: #6A4175;
}

.blank-window {
  margin-top: 25%;
  text-align: center;
}

.locked-card {
  position: relative;
  display: inline-block;
  height: 326px;
  width: 200px;
  margin: 8px;
}

.locked-card section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #B1B0B0;
  border-radius: 17px;
}

.locked-card section h3 {
  float: left;
  color: #464545;
  margin: 12px 5px;
  font-size: 18px;
}

.locked-card section h1 {
  color: #8E8C8C;
  font-size: 150px;
  text-align: center;
  margin: 70px 0px 0px 0px;
}

.card {
  display: inline-block;
  height: 326px;
  width: 200px;
  margin: 8px;
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card div {
  height: 45px;
  width: 100%;
}

.card div h3 {
  float: left;
  color: #464545;
  margin: 12px 5px;
  font-size: 18px;
}

.card div p {
  float: right;
  font-weight: 700;
  color: #464545;
  margin: 10px;
  padding: 2.5px 10px 4.5px 10px;
  background-color: white;
  border-radius: 100px;
}

.card img {
  height: 115.047px;
  width: 200px;
}

.card p {
  margin: 5px 5px 10px 10px;
  max-height: 110px;
}

.card .card-power {
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #464545;
  margin: 0;
}

.card .card-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 28px;
  width: 28px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}

.card:hover .card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card.fixed:hover .card-inner {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.store-card {
  display: inline-block;
  margin: 18px 8px !important;
}

.store-card .fixed {
  margin: 0px !important;
}

.store-card .dark-bt {
  display: block;
  margin: 3px auto !important;
  text-align: center;
}

.disabled-bt {
  background-color: #B1B0B0 !important;
  border-color: #B1B0B0 !important;
  pointer-events: none;
}

.trade-bt {
  display: block;
  padding: 4px 50px;
  margin: 80px 10px 8px 10px;
  background-color: #464545;
  color: white;
  border-width: 0;
}

.delete-bt {
  display: block;
  padding: 4px 50px;
  margin: 8px 10px;
  background-color: #BF6868;
  color: white;
  border-width: 0;
}

.disclamer {
  font-size: 10px;
  text-align: center;
  margin: 10px !important;
}

#cards-in-planet {
  display: none;
}

#collections {
  display: none;
}

#one-collection {
  display: none;
}

#store {
  display: none;
}

#coll-store {
  display: none;
}

#chat-room {
  display: none;
}

.coll {
  position: relative;
  display: inline-block;
  height: 380px;
  width: 212px;
  margin: 20px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.locked-coll {
  position: relative;
  display: inline-block;
  height: 380px;
  width: 212px;
  margin: 20px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.locked-coll p {
  font-size: 10px;
  text-align: center;
  color: #464545;
}

.locked-coll img {
  -webkit-filter: grayscale(100%) !important;
          filter: grayscale(100%) !important;
}

.back-card {
  position: absolute;
  height: 305px;
  width: 187px;
  background-color: #E8E8E8;
  left: 24px;
  border-radius: 17px;
}

.middle-card {
  position: absolute;
  height: 310px;
  width: 190px;
  background-color: #C9C9C9;
  left: 11px;
  top: 10px;
  border-radius: 17px;
}

.front-card {
  position: absolute;
  height: 310px;
  width: 190px;
  top: 22px;
  border-radius: 17px;
}

.front-card div {
  height: 45px;
  width: 100%;
}

.front-card h3 {
  float: left;
  color: #464545;
  margin: 9px 5px 5px 7px;
  font-size: 18px;
}

.front-card p {
  font-size: 14px;
  margin: 5px 5px 10px 10px;
}

.front-card img {
  width: 190px;
}

.coll:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.collectors {
  position: absolute;
  top: 338px;
  left: 10px;
  width: 190px;
  z-index: 2;
}

.collectors img {
  height: 30px;
  border-radius: 100px;
  border: white 4px solid;
  margin-right: -18px;
}

.collectors p {
  position: absolute;
  bottom: 8px;
  left: 89px;
  margin: 0;
  width: 100px;
  font-size: 12px;
}

#money-status strong {
  color: #7139c5;
  letter-spacing: -1.5px;
}
/*# sourceMappingURL=game.css.map */